<a href="https://colab.research.google.com/github/rakj01/NumPy/blob/main/numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

In [ ]:
arr = np.array([1, 2, 3, 4, 5])
print(arr)

[1 2 3 4 5]

In [ ]:
print(np.__version__)

1.26.4

The array object in NumPy is called ndarray

In [ ]:
print(type(arr))

<class 'numpy.ndarray'>

To create an ndarray, we can pass a list, tuple or any array-like object into the array() method, and it will be converted into an ndarray

0-D arrays, or Scalars, are the elements in an array. Each value in an array is a 0-D array.

In [ ]:
arr0 = np.array(42)
print(arr0)

42

An array that has 0-D arrays as its elements is called uni-dimensional or 1-D array.

In [ ]:
arr1 = np.array([1, 2, 3, 4, 5])
print(arr1)

[1 2 3 4 5]

An array that has 0-D arrays as its elements is called uni-dimensional or 1-D array.

In [ ]:
arr2 = np.array([[1, 2, 3], [4, 5, 6]])
print(arr2)

[[1 2 3]
 [4 5 6]]

NumPy has a whole sub module dedicated towards matrix operations called numpy.mat

NumPy Arrays provides the 'ndim' attribute that returns an integer that tells us how many dimensions the array have.

In [ ]:
a = np.array(42)
b = np.array([1, 2, 3, 4, 5])
c = np.array([[1, 2, 3], [4, 5, 6]])
d = np.array([[[1, 2, 3], [4, 5, 6]], [[1, 2, 3], [4, 5, 6]]])

print(a.ndim)
print(b.ndim)
print(c.ndim)
print(d.ndim)

0
1
2
3

When the array is created, you can define the number of dimensions by using the ndmin argument.

In [ ]:
arr = np.array([1, 2, 3, 4], ndmin=5)

print(arr)
print('number of dimensions :', arr.ndim)
#n this array the innermost dimension (5th dim) has 4 elements,
#the 4th dim has 1 element that is the vector,
#the 3rd dim has 1 element that is the matrix with the vector,
#the 2nd dim has 1 element that is 3D array and
#1st dim has 1 element that is a 4D array.

[[[[[1 2 3 4]]]]]
number of dimensions : 5

Array indexing is the same as accessing an array element.

In [ ]:
arr = np.array([1, 2, 3, 4])
print(arr[0])

1

To access elements from 2-D arrays we can use comma separated integers representing the dimension and the index of the element.

In [ ]:
arr = np.array([[1,2,3,4,5], [6,7,8,9,10]])
print('2nd element on 1st dim: ', arr[0, 1])

2nd element on 1st dim:  2

In [ ]:
print("Last elemnt form 2nd dim:",arr[1,-1])

Last elemnt form 2nd dim: 10

We pass slice instead of index like this: [start:end], [start:end:step]

In [ ]:
arr = np.array([1, 2, 3, 4, 5, 6, 7])
print(arr[1:5])
print(arr[4:])
print(arr[:4])
print(arr[-3:-1]) #negative slicing
print(arr[1:5:2]) #with step
print(arr[::2])  #with step

[2 3 4 5]
[5 6 7]
[1 2 3 4]
[5 6]
[2 4]
[1 3 5 7]

In [ ]:
#From the second element, slice elements from index 1 to index 4
arr = np.array([[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]])
print(arr[1, 1:4])

[7 8 9]

In [ ]:
#From both elements, return index 2
arr = np.array([[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]])
print(arr[0:2, 2])

[3 8]

In [ ]:
arr = np.array([[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]])
print(arr[0:2, 1:4])

[[2 3 4]
 [7 8 9]]

The NumPy array object has a property called dtype that returns the data type of the array

In [ ]:
print(arr.dtype)

int64

In [ ]:
arr = np.array(['apple', 'banana', 'cherry'])
print(arr.dtype)

<U6

We use the array() function to create arrays, this function can take an optional argument: dtype that allows us to define the expected data type of the array elements:

In [ ]:
arr = np.array([1, 2, 3, 4], dtype='S')
print(arr)
print(arr.dtype)

[b'1' b'2' b'3' b'4']
|S1

For i, u, f, S and U we can define size as well.

In [ ]:
aarr = np.array([1, 2, 3, 4], dtype='i4')
print(aarr)
print(aarr.dtype)

[1 2 3 4]
int32

The astype() function creates a copy of the array, and allows you to specify the data type as a parameter.

In [ ]:
arr = np.array([1.1, 2.1, 3.1])
newarr = arr.astype('i')
print(newarr)
print(newarr.dtype)

[1 2 3]
int32

Difference Between Copy and View -
 copies owns the data, and views does not own the data

In [ ]:
arr = np.array([1, 2, 3, 4, 5])
x = arr.copy()
arr[0] = 42
print(arr)
print(x)

[42  2  3  4  5]
[1 2 3 4 5]

In [ ]:
arr = np.array([1, 2, 3, 4, 5])
x = arr.view()
arr[0] = 42
print(arr)
print(x)

[42  2  3  4  5]
[42  2  3  4  5]

Every NumPy array has the attribute base that returns None if the array owns the data

In [ ]:
arr = np.array([1, 2, 3, 4, 5])
x = arr.copy()
y = arr.view()
print(x.base)
print(y.base)

None
[1 2 3 4 5]

The shape of an array is the number of elements in each dimension.

In [ ]:
arr = np.array([[1, 2, 3, 4], [5, 6, 7, 8]])
print(arr.shape)

arr1 = np.array([1, 2, 3, 4], ndmin=5)
print(arr1)
print('shape of array :', arr1.shape)

(2, 4)
[[[[[1 2 3 4]]]]]
shape of array : (1, 1, 1, 1, 4)

Reshaping means changing the shape of an array

In [ ]:
#1D to 2D with outeremost haveing 4 arrays , each with 3 elements
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12])
newarr = arr.reshape(4, 3)
print(newarr)
print(newarr.base)

[[ 1  2  3]
 [ 4  5  6]
 [ 7  8  9]
 [10 11 12]]
[ 1  2  3  4  5  6  7  8  9 10 11 12]

You are allowed to have one "unknown" dimension.
Pass -1 as the value, and NumPy will calculate this number for you

In [ ]:
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8])
newarr = arr.reshape(2, 2, -1)
print(newarr)

[[[1 2]
  [3 4]]

 [[5 6]
  [7 8]]]

In [ ]:
#Flattening the arrays - converting a multidimensional array into a 1D array
arr = np.array([[1, 2, 3], [4, 5, 6]])
newarr = arr.reshape(-1)
print(newarr)

[1 2 3 4 5 6]

In [ ]:
#iteraion
arr = np.array([1, 2, 3])
for x in arr:
  print(x)

1
2
3

In [ ]:
arr = np.array([[[1, 2, 3], [4, 5, 6]],[[7, 8, 9], [10, 11, 12]]])
for x in arr:
  for y in x:
    for z in y:
      print(z)

1
2
3
4
5
6
7
8
9
10
11
12

In [ ]:
for x in np.nditer(arr):
  print(x)

1
2
3
4
5
6
7
8
9
10
11
12

In [ ]:
arr = np.array([1, 2, 3])
for x in np.nditer(arr, flags=['buffered'], op_dtypes=['S']):
  print(x)

b'1'
b'2'
b'3'

In [ ]:
#different step size
arr = np.array([[1, 2, 3, 4], [5, 6, 7, 8]])
for x in np.nditer(arr[:, ::2]):
  print(x)

1
3
5
7

In [ ]:
arr = np.array([1, 2, 3])
for idx, x in np.ndenumerate(arr):
  print(idx, x)

(0,) 1
(1,) 2
(2,) 3

In [ ]:
arr = np.array([[1, 2, 3, 4], [5, 6, 7, 8]])
for idx, x in np.ndenumerate(arr):
  print(idx, x)

(0, 0) 1
(0, 1) 2
(0, 2) 3
(0, 3) 4
(1, 0) 5
(1, 1) 6
(1, 2) 7
(1, 3) 8

in NumPy we join arrays by axes

In [ ]:
arr1 = np.array([1, 2, 3])
arr2 = np.array([4, 5, 6])
arr = np.concatenate((arr1, arr2))
print(arr)
print(arr.base)

[1 2 3 4 5 6]
None